# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Data Layers (Generados por el pipeline)
landing/
bronze/
silver/
gold/
datos/
evidencia/graficos/
data_lake/
backups/
.venv/
.pytest_cache/
audit_db.py

# OS
.DS_Store
.vscode/
